/*Inicio*/
.menu {
  font-weight: bold;
}

.sidenav {
  position: fixed;
  z-index: 1;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  display: block;
}

a {
  color: #333333;
}

.sidenav a:hover {
  color: #064579;
}

.main {
  margin-left: 342px;
  padding: 0px 10px;
}

.logo {
  height: 3.7rem;
  line-height: 3rem;
  border-top-style: groove;
  border-left-style: groove;
}

.title {
  background-color: #FFE521;
  font-family: 'Open Sans', sans-serif;
  border-top-style: groove;
  border-right-style: groove;
  border-left-style: groove;
}

.titleUno {
  font-size: 1.5rem;
  font-weight: bold;
  height: 3rem;
  line-height: 3.5rem;
  font-family: 'Open Sans', sans-serif;
  color: #333333;
}

.pais {
  font-family: 'Open Sans', sans-serif;
  color: #333333;
  background-color: white;
  margin-bottom: 1rem;
  margin-top: 2rem;
  box-shadow: 2px 2px 5px #999;
  border-radius: 0.2rem;
  height: 4rem;
}

.txt1 {
  display: inline-block;
  font-weight: bold;
  text-indent: 1rem;
  line-height: 2rem;
}

.botonPaises {
  float: right;
  margin-top: 1.5rem;
  margin-right: 0.5rem;
  border-radius: 0.2rem;
  background-color: #FFE521;
  cursor: pointer;
}

.logoTM {
  background-color: #fafafa;
  border-top-style: groove;
  border-left-style: groove;
  border-bottom-style: groove;
}

#userTM {
  height: 3rem;
  margin: 0.5rem 0.5rem;
  margin-top: 0.5rem;
}

#textTM {
  font-family: 'Open Sans', sans-serif;
  color: #333333;
  text-indent: 1rem;
  display: inline-block;
}

.menuLeft {
  height: 4rem;
  color: #333333;
  border-left-style: groove;
  border-bottom-style: groove;
  background-color: #FFE521;
  line-height: 3rem;
}

.square {
  background-color: #fafafa;
  border-top: groove;
  border-right: groove;
  border-left-style: groove;
  padding-bottom: 70%;
}

/*Sección cohort méxico*/
.cohort {
  font-family: 'Open Sans', sans-serif;
  color: #333333;
  background-color: white;
  margin-bottom: 1rem;
  margin-top: 2rem;
  box-shadow: 2px 2px 5px #999;
  border-radius: 0.2rem;
  height: 7rem;
  width: 37rem;
}

.txt2 {
  display: inline-block;
  font-size: 1.1rem;
  font-weight: bold;
  text-indent: 1rem;
  line-height: 3rem;
}

#cdmx-2017-10-bc-core-pm, #cdmx-2017-10-bc-core-pma, #cdmx-2017-12-ec-js-deepdive, #cdmx-2017-12-ec-js-deepdivea, #cdmx-2018-01-ec-js-edcparadigmascdmx, #cdmx-2018-01-ec-js-edcparadigmascdmxa, #cdmx-2018-02-bc-js-front-end-developer, #cdmx-2018-02-bc-js-front-end-developera, #cdmx-2018-02-bc-ux-ux-designer, #cdmx-2018-02-bc-ux-ux-designera, #cdmx-2018-03-pre-core-pw, #cdmx-2018-03-pre-core-pwa {
  float: right;
  margin-top: 4rem;
  margin-right: 0.5rem;
  border-radius: 0.2rem;
  background-color: #FFE521;
  cursor: pointer;
}

#cdmx-2018-03-ec-js-educacion-continua-javascript-angular, #cdmx-2018-03-ec-js-educacion-continua-javascript-angulara {
  float: right;
  margin-right: 0.5rem;
  border-radius: 0.2rem;
  background-color: #FFE521;
  cursor: pointer;
}

/*Sección alumnas cdmx-2017-10-bc-core-pm*/
.user {
  width: 41rem;
}

.inputAlumnas {
  margin-top: 1rem;
}

.txt3 {
  display: inline-block;
  font-size: 1.1rem;
  font-weight: bold;
  text-indent: 1rem;
  line-height: 3rem;
}

.txta {
  display: inline-block;
  font-size: 1rem;
  text-indent: 1rem;
  line-height: 3rem;
  color: #ff009e69;
}

.botonVerAlumnas, #inputButton {
  border-radius: 0.2rem;
  box-shadow: 2px 2px 5px #999;
  background-color: #FFE521;
  cursor: pointer;
}

#gdl-2018-03-bc-js-front-end-developer, #gdl-2018-03-bc-js-front-end-developera {
  float: right;
  margin-top: 4rem;
  margin-right: 0.5rem;
  border-radius: 0.2rem;
  background-color: #FFE521;
  cursor: pointer;
}

/*Cohort lima*/
#lim-2017-09-bc-core-am, #lim-2017-09-bc-core-ama, #lim-2017-09-bc-core-pm, #lim-2017-09-bc-core-pma, #lim-2017-09-ec-js-functional, #lim-2017-09-ec-js-functionala, #lim-2017-10-ec-js-paradigms, #lim-2017-10-ec-js-paradigmsa, #lim-2017-10-ec-js-react, #lim-2017-10-ec-js-reacta, #lim-2017-11-ec-js-angular-fundamentals, #lim-2017-11-ec-js-angular-fundamentalsa, #lim-2017-11-ec-js-redux, #lim-2017-11-ec-js-reduxa, #lim-2018-01-bc-js-front-end-developer, #lim-2018-01-bc-js-front-end-developera, #lim-2018-01-bc-ux-ux-designer, #lim-2018-01-bc-ux-ux-designera, #lim-2018-01-ec-js-chatbot, #lim-2018-01-ec-js-chatbota, #lim-2018-01-ec-js-funcionaljs, #lim-2018-01-ec-js-funcionaljsa, #lim-2018-03-jp-core-talento-lima, #lim-2018-03-jp-core-talento-limaa, #lim-2018-03-pre-core-pw, #lim-2018-03-pre-core-pwa, #lim-2018-06-bc-ux-test-ux, #lim-2018-06-bc-ux-test-uxa, #lim-2018-06-jp-core-new-ui
, #lim-2018-06-jp-core-new-uia, #lim-2018-06-pre-js-prework-test, #lim-2018-06-pre-js-prework-testa, #lim-2018-06-pre-js-test-arun, #lim-2018-06-pre-js-test-aruna{
  float: right;
  margin-top: 4rem;
  margin-right: 0.5rem;
  border-radius: 0.2rem;
  background-color: #FFE521;
  cursor: pointer;
}

/*Unidad cdmx-2017-10-bc-core-pm*/
.course {
  font-family: 'Open Sans', sans-serif;
  color: #333333;
  background-color: white;
  margin-bottom: 1rem;
  margin-top: 2rem;
  box-shadow: 2px 2px 5px #999;
  border-radius: 0.2rem;
  height: 4rem;
}

/*Cohort Santiago*/
#scl-2017-09-bc-core-am, #scl-2017-09-bc-core-ama, #scl-2017-09-bc-core-pm, #scl-2017-09-bc-core-pma, #scl-2017-09-ec-js-functional, #scl-2017-09-ec-js-functionala, #scl-2017-11-ec-js-paradigms, #scl-2017-11-ec-js-paradigmsa, #scl-2017-11-ec-js-react, #scl-2017-11-ec-js-reacta, #scl-2018-01-bc-js-front-end-developer, #scl-2018-01-bc-js-front-end-developera, #scl-2018-01-bc-ux-ux-designer, #scl-2018-01-bc-ux-ux-designera, #scl-2018-01-ec-js-angular, #scl-2018-01-ec-js-angulara, #scl-2018-01-ec-js-chatbot, #scl-2018-01-ec-js-chatbota, #scl-2018-03-ec-ux-research, #scl-2018-03-ec-ux-researcha, #scl-2018-03-pre-core-pw, #scl-2018-03-pre-core-pwa {
  float: right;
  margin-top: 4rem;
  margin-right: 0.5rem;
  border-radius: 0.2rem;
  background-color: #FFE521;
  cursor: pointer;
}

/*Cohort Sao Paulo*/
#spl-2018-03-pre-core-pw, #spl-2018-03-pre-core-pwa, #spl-2018-05-bc-js-front-end-developer, #spl-2018-05-bc-js-front-end-developera {
  float: right;
  margin-top: 4rem;
  margin-right: 0.5rem;
  border-radius: 0.2rem;
  background-color: #FFE521;
  cursor: pointer;
}

/*tablas progreso alumnas*/
.styleTable {
  background-color:white;
  margin-top: 2rem;
  box-shadow: 2px 2px 5px #999;
  width: 50rem;
  margin-left: -4rem;
}

.unitClass {
  color: #ff009e69;
  font-weight: bold;
}

.percentAlumn {
  border: solid 0.2rem #000000;
  border-color: #ff009e69;
  text-align: center;
}

.nameProgress {
  margin-top: 2rem;
}

td {
  border: #333333 2px solid;
  text-align: center;
  width: 10rem;
}

th {
  text-align: center;
}

.squarePercent {
  background-color:white;
  margin-top: 1rem;
  box-shadow: 2px 2px 5px #999;
}

@media screen and (min-width: 320px) and (max-width: 1024px) {
  .txt1 {
    width: 40rem;
    font-size: 1.5rem;
  }
  .col-3 {
    max-width: 31%;
  }
  .square {
    padding-bottom: 135%;
  }
  .pais {
    height: 7rem;
    font-size: 2rem;
    margin-bottom: 3rem;
    margin-top: 3rem;
    margin-right: -2rem;
  }
  .botonPaises {
    margin-top: -0.5rem;
    font-size: 1.5rem;
    height: 3rem;
  }
  .logoTM, .menuLeft {
    width: 21rem;
  }
  .styleTable {
    width: 40rem;
  }
  .cohort {
    width: 40rem;
    margin-left: -4rem;
  }
  .txt2 {
    font-size: 1.3rem;
  }
  td {
    width: 7rem;
  }

}


/*
bitter regular para los titulos
Open Sans Regular para los textos
font-family: 'Bitter', serif;
font-family: 'Open Sans', sans-serif;

icono logout
https://fontawesome.com/icons/sign-out-alt?style=solid
icono menu
https://fontawesome.com/icons/book-open?style=solid
.logout {
  height: 4rem;
  margin: 0rem;
}
*/